<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.library.libraryspring.mapper.BookMapper">

    <insert id="insert">
        insert into books(b_isbn, b_title, b_author, b_year, b_publisher, b_category) values ( #{b_isbn}, #{b_title}, #{b_author}, #{b_year}, #{b_publisher}, #{b_category})
    </insert>

    <select id="selectAll" resultType="edu.library.libraryspring.domain.BookVO">
        select * from books order by b_no asc
    </select>

    <select id="selectOne" resultType="edu.library.libraryspring.domain.BookVO">
        select * from books where b_no = #{b_no}
    </select>

    <delete id="delete">
        delete from books where b_no = #{b_no}
    </delete>

    <update id="update">
        update books set b_title = #{b_title}, b_author = #{b_author}, b_isbn = #{b_isbn}, b_year = #{b_year}, b_publisher = #{b_publisher}, b_category = #{b_category} where b_no = #{b_no}
    </update>

    <sql id="search">
        <where>
            <if test="types != null and types.length > 0" >
                <foreach collection="types" item="type" open="(" close=") " separator=" OR ">
                    <if test="type == 't'.toString()">
                        b_title like concat('%', #{keyword}, '%')
                    </if>
                    <if test="type == 'a'.toString()">
                        b_author like concat('%', #{keyword}, '%')
                    </if>
                    <if test="type == 'p'.toString()">
                        b_publisher like concat('%', #{keyword}, '%')
                    </if>
                </foreach>
            </if>
            <if test="keyword2 != null and !keyword2.isEmpty()">
                <trim prefix="AND">
                b_isbn = #{keyword2}
                </trim>
            </if>
            <if test="from != null and to != null">
                <trim prefix="AND">
                    b_year between #{from} and #{to}
                </trim>
            </if>
        </where>
    </sql>

    <select id="selectList" resultType="edu.library.libraryspring.domain.BookVO">
        select * from books
        <include refid="search"></include>
        order by b_no desc limit #{skip}, #{size}
    </select>

    <select id="getCount" resultType="int">
        select count(b_no) from books
        <include refid="search"></include>
    </select>

</mapper>